.klausur {
  background-color: #2c2f33;
  width: 333px;

  margin: 10px 0 10px 10px;
  /*padding-top: 11px;*/

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.information {
  text-align: center;
}

.klausurName {
  height: 77px;
}


.todoProgress {
  accent-color: #7289da;
  width: 300px;

  margin-bottom: 11px;
}

.klausur:hover .deleteKlausur {
  visibility: visible;
}

.deleteKlausur {
  visibility: hidden;
  margin-top: 11px;
}

.deleteKlausur:hover {
  color: #D52941;
}
