.todos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  height: 100%;
}

.todo {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 11px;
  padding: 11px 0;

  border: 1px solid #99aab5;
  border-radius: 1px;
}

.todo .todoCheckbox, .todoCheckboxLabel {
  accent-color: #7289da;

  pointer-events: none;
}

.todoCheckbox {
  margin-left: 11px;
  margin-right: 3px;
}

.completedTodo {
  border-color: #7289da;
}

.todo:hover .todoCheckboxLabel {
  color: #99aab5;
}

.todo:hover .deleteTodo {
  visibility: visible;
}

.deleteTodo {
  margin-right: 11px;
  margin-left: auto;
  visibility: hidden;
}

.deleteTodo:hover {
  color: #D52941;
}
